requests
tensorflow
pytest
pylint
ipdb
numpy
pandas
matplotlib
seaborn
scikit-learn
google-cloud-storage
ipykernel
ipywidgets
jupyter_client
jupyter_core
jupyter_server
jupyterlab
nbclient
nbconvert
nbformat
notebook
traitlets
